.background {
  background: url("https://images.news18.com/ibnlive/uploads/2020/08/1597232044_dhoni-ipl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
