ul{
    padding:0px 10px;
    list-style:none;
    overflow-y:auto ;
}

li{
    padding:10px 0px;
    display:flex;
    align-items: center;
    
    overflow-y:auto ;
}

li:hover{
    background:gainsboro;
    border-radius: 5px;
    cursor: pointer;
}